[Unit]
Description=A service for handling messages from multiple website contact pages
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=on-failure
TimeoutStopSec=10

# Pre-execution setup
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /run/www-data
ExecStartPre=/bin/chown www-data:www-data /run/www-data

# Execution settings
ExecStart=/opt/web-msg-handler/web-msg-handler
WorkingDirectory=/var/www/web-msg-handler
User=www-data
Group=www-data

# Log
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=web-msg-handler

[Install]
WantedBy=multi-user.target
